In [46]:
h="hello"
w="world"
print(f"{h} {w} ")

hello world

In [31]:
h="hello"
print("", h)

 hello

In [ ]:
print("hello world")

hello + world

In [26]:
name="khuchisake"
print(f"{name} hello"  )

khuchisake hello

In [37]:
a=10
b=2
print("%d number" %(a*b))

20 number

In [ ]:
print("my name is 'nagraj'" 
 "really" )

my name is 'nagraj'really

In [ ]:
a,b="2",3
txt="@"
print((a+" "+txt)*b)

2 @2 @2 @

In [12]:
x = 3.14159

print(f"{x:.2f} value =")

3.14 value =

In [14]:
x=3.31
b=32.1443
print("%.3f value is" %(x+b) )

35.454 value is

In [13]:

a=1
print(type(a))
b=1.0
print(type(b))
c="bdhesg"
print(type(c))
d=None
type(d)

<class 'int'>
<class 'float'>
<class 'str'>

NoneType

In [ ]:
a=10
b=5
print(a//b)

2

In [ ]:
a="bfejbsi"
print=(a)
b=(4,4)
b[1]

4

In [38]:
a=2
b=3
print(a+b)

5

In [ ]:
a=1
b=-5
sum=a%b
print(sum)
type(sum)

-4

int

In [ ]:
a=int(input("first number: "))
b=int(input("second number: "))
print(a+b)

108

In [ ]:
a=int(input("side of square:"))
print("area of sqaure: ", a*a)

area of sqaure:  16

In [ ]:
a=int(input("first number: "))
b=int(input("second number: "))
print("%d" %(a+b))
print("%d" %(a-b))
print("%d" %(a*b))
print("%d" %(a//b))

18
2
80
1

In [ ]:
a=int(input("age:"))
if(a<18):
    print("minor")
elif(a>=18 and a<=100):
 print("adult")
else:
 print("invalid")

invalid

In [ ]:
food=input("is cake good for healt: ")
eat="unhygenic" if food == "yes" else "so u r either right or wrong"
print(eat)

unhygenic

In [ ]:
food=input("vegetable or junk food: ")
print("nice") if food == "vegetable" else print("unhygenic")

unhygenic

WAP to cheack if number entered by user is odd or even

In [ ]:
a=int(input ("enter a number: "))
if(a%2==0):
    print("even no")
else:
    print("odd no")

odd no

In [ ]:
age=int(input("age: "))
vote=("no", "yes") [age>=18]
print("", vote)

 no

In [ ]:
a=int("2")
print(a+3)

5

In [ ]:
a=2
b=5
print((a==b)+1)

1

In [ ]:
a="hifsrfrr"
b="\thifsrfrr"
print(a+b)

hifsrfrr	hifsrfrr

In [1]:
hi="hiafsaf"
hi[-4:-1]

'fsa'

In [3]:
hi.endswith("f")

True

In [7]:
hi.find("s")

4

In [9]:
hi.count("af")

2

In [4]:
hi.replace("hiafsaf","fsdefs")

'fsdefs'

In [61]:
hi[1]

'i'

In [ ]:
len("hello")

5

In [ ]:
str="im coding"
str.capitalize()

'Im coding'

In [ ]:
a="i nt nt do"
a.count("do")

1

In [ ]:
a=int(input("age:"))
if(a>=18):
    if(a>=80):
        print("cannot drive")
    else:
        print("can drive")
else:
    print("error")

can drive

In [11]:
a=int(input("eneter a no:"))
b=int(input("eneter a no:"))
c=int(input("eneter a no:"))

if(a>b and a>c):
    print("a is greater no", a)
elif(b>a and b>c):
    print("b is greater no", b)
elif(c>a and c>b):
    print("c is greater no", c)

c is greater no 8

In [ ]:
Marks=[21,23,34,23,43]
Marks[1]=21
Marks[0:4]

[21, 21, 34, 23]

In [ ]:
Marks.append(35)
Marks

[21, 21, 34, 23, 43, 35, 35]

In [ ]:
Marks.sort()
Marks

[21, 21, 23, 34, 35, 35, 43]

In [ ]:
Marks.sort(reverse=True)
Marks

[43, 35, 35, 34, 23, 21, 21]

In [ ]:
hi=[43,32,23,53,262,23]
hi.reverse()
hi

[23, 262, 53, 23, 32, 43]

In [ ]:
hi.insert(5,21)
hi

[21, 23, 262, 53, 23, 21, 32, 43]

In [ ]:
hi.remove(262)
hi

[21, 23, 53, 23, 21, 32, 43]

In [ ]:
hi.pop(3)
hi

[21, 23, 53, 21, 32, 43]

In [ ]:
tup=(2,1,4,1)
tup.index(1)

1

In [ ]:
tup.count(1)

NameError: name 'tup' is not defined

In [ ]:

"PyThOn".swapcase()

'pYtHoN'

In [ ]:
sorted.__doc__

'Return a new list containing all items from the iterable in ascending order.\n\nA custom key function can be supplied to customize the sort order, and the\nreverse flag can be set to request the result in descending order.'

In [ ]:
print("python"[::])

python

In [ ]:
a, b = 6, 3
print("a << 5 =", a << 5)

a << 5 = 192

In [ ]:
a=input("enter a first fav movie:")
b=input("enter a sec fav movie:")
c=input("enter a third fav movie:")

l=[a,b,c]
print(l)

['spiderman', 'iron man', 'anime']

In [ ]:
dic={
    "name": "nothing",
    "subject" : "BCA",
    "langauge": "python",
    "maarks": {
        "phy": 97,
        "chem": 85,
    },
    "age": 19,
}
dic["name"]="hi"
print(dic["name"])
dic[21]="hello"
print(dic)

hi
{'name': 'hi', 'subject': 'BCA', 'langauge': 'python', 'maarks': {'phy': 97, 'chem': 85}, 'age': 19, 21: 'hello'}

In [ ]:
print(dic["maarks"]["chem"])

85

In [ ]:
len(dic["maarks"])

2

In [ ]:
dic.keys()

6

In [ ]:
dic.values()

dict_values(['hi', 'BCA', 'python', {'phy': 97, 'chem': 85}, 19, 'hello'])

In [ ]:
p=list(dic.items())
p[0]

('name', 'hi')

In [ ]:
dic.get("langauge")

'python'

In [ ]:
#print(dic["name2"]) #it gives error
print(dic.get("name2"))

None

In [ ]:
dic.update({"delhi" : "700aqi"})
dic

{'name': 'hi',
 'subject': 'BCA',
 'langauge': 'python',
 'maarks': {'phy': 97, 'chem': 85},
 'age': 19,
 21: 'hello',
 'delhi': '700aqi'}

In [ ]:
set={1,2,3,4,5,5,5}
print(set)

{1, 2, 3, 4, 5}

In [ ]:
type(set)

set

In [ ]:
set.add(8)
set

{1, 2, 3, 4, 5, 8}

In [ ]:
set.remove(5)
set

{1, 2, 3, 4, 8}

In [ ]:
strin_set={"hello","hi","bye","idk"}
strin_set.pop()
strin_set

{'hello', 'hi', 'idk'}

SET METHOD

In [ ]:
set1={2,3,6,4,8,21,32}
set2={3,5,4,21,54,34}
set1.intersection(set2)

{3, 4, 21}

In [ ]:
set1.union(set2)

{2, 3, 4, 5, 6, 8, 21, 32, 34, 54}

In [ ]:
empty_dict={}
a=input("enter subject 1:")
b=input("enter subject 2:")
c=input("enter subject 3:")
x=int(input("enter marks of subject 1:"))
y=int(input("enter marks of subject 2:"))
z=int(input("enter marks of subject 3:"))
empty_dict.update({
    a:x,
    b:y,
    c:z,
})
print(empty_dict)

{'phy': 34, 'vhem': 34, 'math': 23}

In [ ]:
count=5
while count >= 1:
    print(count)
    count -= 1

5
4
3
2
1

In [ ]:

i=7
while i>=1:
    print(i)
    if(i==4):
        break
    i-=1

7
6
5
4

In [ ]:
i=10
while i>=1:
    print(4*i)
    i-=1

40
36
32
28
24
20
16
12
8
4

In [ ]:
n=[1,4,9,16,25,36,49,64,81,100]
idx=0
while idx<len(n):
    print(n[idx])
    idx+=1

4
9
16
25
36
49
64
81
100

In [ ]:
x=int(input("enter a number: "))
i=0
while i<len(n):
    if(n[i]==x):
        print("found ",i)
    else:
        print("not found")
    i+=1

not found
not found
not found
not found
not found
not found
not found
not found
not found
not found

In [ ]:
i=0
while i<=5:
    if(i==3):
        i+=1
        continue
    print(i)
    i+=1

0
1
2
4
5

In [8]:
for el,le in enumerate (n):
    print(el,le)

0 1
1 2
2 3
3 4
4 5

In [2]:

t=(1,4,9,16,25,36,49,64,81,100)
x=9
idx=0
for el in t:
    if(el == x):
        print("found ",idx)
        idx+=1

found  0

In [6]:
for el in range(1,10,2):
    print(el)

1
3
5
7
9

In [110]:
student=["a","b",'c']
marks=[90,80,75]

for stu,ma in zip(student,marks):
   print(stu,ma)

a 90
b 80
c 75

In [ ]:
for i in range(1, 4):
    for j in range(1, 3):
        print(i, j)

1 1
1 2
2 1
2 2
3 1
3 2

:

In [11]:
n=int(input("enter a number: "))
for el in range(1,11):
    print=(el * n)

In [14]:
def calc_sum(a,b):
    a+b
    return a+b

a=int(input("enter a number"))
b=int(input("enter a number"))
print(calc_sum(a,b))
a=int(input("enter a number"))
b=int(input("enter a number"))
print(calc_sum(a,b))

38
57

In [23]:
def  cal_sum(e,d):
    return e+d,e-d

e=int(input("enter a number"))
d=int(input("enter a number"))
print(cal_sum(e,d))

(53, 11)

In [24]:
def p():
    return print("hello world")

p()
p()

hello world
hello world

In [25]:
out=p()
print(out)

hello world
None

In [27]:
def avearge(a,b,d):
    return (a+b+d)/3
a=int(input("enter a number"))
b=int(input("enter a number"))
d=int(input("enter a number"))
avearge(a,b,d)

22.0

In [40]:
def mul(a,b=2):
    return a*b

mul(1)

2

In [66]:
def odd_even(a):
    if(a%2==0):
        print("no is even")
    else:
        print("no is odd")

a=int(input("enter a number"))
odd_even(a)
a=int(input("enter a number"))
odd_even(a)

no is odd
no is odd

In [65]:
def show(n):
    if(n==15):
       return
    print("hello")
    show(n+1)
    print("end")

show(10)

hello
hello
hello
hello
hello
end
end
end
end
end

In [67]:
def fact(n):
    if(n ==0 or n==1):
        return 1
    return 3 * fact(3-1)

t=fact(3)
print(t)

RecursionError: maximum recursion depth exceeded

In [76]:
def add(*nums):
    print(nums)
add(1, 2, 3, 4)

(1, 2, 3, 4)

In [107]:
def info(**data):
    print(data)

info(name="Rahul", age=20)

{'name': 'Rahul', 'age': 20}

In [ ]:

def area_circle(r):
    """Return area of circle for radius r."""
    return 3.14159 * r * r

area_circle.__doc__

'Return area of circle for radius r.'

In [97]:
square = lambda x: x*x
x=int(input("enter a number"))
print(square(x))

36

In [98]:
max_num = lambda a, b: a if a > b else b
a=int(input("enter a number"))
b=int(input("enter a number"))
print(max_num(a, b))

6

In [99]:
def square(x):
    return x*x

nums = [1, 2, 3, 4]

result = list(map(square, nums))
print(result)

[1, 4, 9, 16]

In [ ]:

nums = [1,2,3,]
list(map(lambda x: x*2, nums))

[2, 4, 6]

In [104]:
list(filter(lambda x: x%2==1, nums))

[1, 3]

In [105]:
def outer():
    def inner():
        print("Hello")

    inner()

outer()

Hello