### Experiment 2: Use of input statements, operators
1. Declare these variables (x, y and z) as integers. Assign a value of 9 to x. Assign 
a value of 7 to y, perform addition, multiplication, division and subtraction on 
these two variables and print out the result.

In [1]:
x=9
y=7
z=x+y
print(z)

16

2. Write a Program where the radius is taken as input to compute the area of a 
circle.

In [3]:
r=int(input("Radius: "))
print("%.2f" %(3.14*r*r))

113.04

3. Write a Python program to solve (x+y)*(x+y)  

4. Test data: x = 4, y = 3  

5. Expected output: 49

In [6]:
x = int(input("Enter value of x: "))
y = int(input("Enter value of y: "))

result = (x + y) * (x + y)

print("Result =", result)

Result = 49

6. Write a program to compute the length of the hypotenuse (c) of a right triangle 
using Pythagoras theorem.

Hypotenuse = 11.18

7. Write a program to find simple interests.

In [10]:
p=int(input("Enter a principal: "))
t=int(input("Enter a time in years: "))
r=int(input("Enter a rate: "))
print("SI is %.2f" %((p*r*a/100)))

SI is 10200.00

8. Write a program to find area of triangle when length of sides are given.

In [11]:
a=int(input("Enter base side of triangle= "))
b=int(input("Enter height of triangle= "))
print("Area of triangle=%d" %((a*b)/2))

Area of triangle=121

9. Write a program to convert given seconds into hours, minutes and remaining 
seconds.

Hours = 1
Minutes = 16
Seconds = 13

10. Write a program to swap two numbers without taking additional variable.

After swapping:
a = 4
b = 2

11. Write a program to find sum of first n natural numbers.

In [22]:
n=int(input("Enter a no: "))
sum=0

for i in range(1,n+1):
    sum+=i
print(sum)

15

12. Write a program to print truth table for bitwise operators (&, |, and ^ operators)

A B  A&B  A|B  A^B
--------------------
0 0   0    0    0
0 1   0    1    1
1 0   0    1    1
1 1   1    1    0

13. Write a program to find left shift and right shift values of a given number.

In [34]:
a=int(input("enter a number:"))
print("left shift number is ", a >> 1 )
print("right shift number is ", a << 1 )

left shift number is  2
right shift number is  10

14. Using membership operator find whether a given number is in sequence 
(10,20,56,78,89)

In [36]:
t=(10,20,56,78,89) 
a=int(input("enter a no: "))
print(a in t)

False

15. Using membership operator find whether a given character is in a string.

In [38]:
a="hi my name is vibhu"
t=input("enter a string:")
print( t in a)

False