### Experiment 1: Python Installation and starting with python

2. Write Python programs to print strings in the given manner:  
a)   Hello Everyone !!!  
b)   Hello  
World  
c)   Hello  
World
d) ‘ Rohit’ s date of birth is 12\05\1999’

In [3]:
print(" Hello Everyone !!!")

 Hello Everyone !!!

In [4]:
print(" Hello\nWorld")

 Hello
World

In [5]:
print("""Hello
World""")

Hello
World

In [7]:
print("' Rohit's date of birth is 12\\05\\1999'")

' Rohit's date of birth is 12\05\1999'

3. Declare a string variable called x and assign it the value “Hello”.  
Print out the value of x

In [8]:
x="Hello"
print(x)

Hello

4. Take different data types and print values using print function.

In [9]:
a=10
b=1.0
c="hello"
print(a,b,c)

10 1.0 hello

5. Take two variables, a and b. Assign your first name and last name. Print your 
Name after adding your First name and Last name together.

In [10]:
x="Ayush"
y="Rawat"
print(x+" "+y)

Ayush Rawat

6. Declare three variables, consisting of your first name, your last name and 
Nickname. Write a program that prints out your first name, then your nickname 
in parenthesis and then your last name.    
Example output: George (woody) Washington.

In [11]:
first_name = "George"
last_name = "Washington"
nickname = "woody"

print(first_name, "(" + nickname + ")", last_name)

George (woody) Washington

7. Declare and assign values to suitable variables and print in the following way: 
NAME: NIKUNJ BANSAL    
SAP ID: 500069944  
DATE OF BIRTH: 13 Oct 1999  
ADDRESS: UPES  
Bidholi Campus  
Pincode: 248007  
Programme: AI & ML

In [12]:
Name="NAME:Ayush Rawat"
SAP_ID="SAP ID: 590020071"
DOB="DATE OF BIRTH:26/6/2006"
Addres="ADDRESS:UPES Bidholi Campus Pincode:248007 "
programme="core"
Semester="Semester: 2"
print(f"{Name}\n{SAP_ID}\n{DOB}\n{Addres}\n{programme}\n{Semester}")

NAME:Ayush Rawat
SAP ID: 590020071
DATE OF BIRTH:26/6/2006
ADDRESS:UPES Bidholi Campus Pincode:248007
core
Semester: 2